.navbar {
  width: 200px;
  background-color: #333;
  height: 100vh;
  top: 0;
  left: 0;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar ul li {
  margin: 20px 0;
}

.navbar ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
  background-color: #575757;
}

.pagina {
  display: flex;
}

.pedido {
  margin: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid blue;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
}

a {
  text-decoration: none;
}
