* {
  overflow: hidden;
}

.navbar {
  width: 200px;
  background-color: #333;
  height: 100dvh;
  top: 0;
  left: 0;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar ul li {
  margin: 20px 0;
}

.navbar ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 18px;
}

.navbar ul li a:hover {
  background-color: #575757;
  transition: background-color 0.3s ease;
}

.body {
  display: flex;
  overflow-y: auto;
}

button {
  border: none;
}

.btnPedido {
  margin: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(175, 170, 170);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  border: solid black 1px;
  align-items: center;
  justify-content: center;
}

header button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

.contenido {
  width: 100vw;
  border: rgb(206, 199, 199) 40px solid;
}

.empleados {
  border: solid black 1px;
  padding: 10px;
  width: 200px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.empleados button {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  background-color: rgba(182, 177, 171, 0.301);
  cursor: pointer;
}

button:hover {
  background-color: rgb(192, 243, 168);
  transition: background-color 0.3s ease;
}
